@model Bll.EVENTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EVENTS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_OF_TICKET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_OF_TICKET)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EVENT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
